<h1>Editing criterion</h1>

<% form_for(@criterion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @criterion %> |
<%= link_to 'Back', criterions_path %>